<ion-popover-view>
  <ion-content>
    <div class="list">
      <div ng-repeat="cat in subcategories" class="item item-icon-left" ui-sref="categorypage({categoryID: cat.slug })" ng-if="cat.count">
<!--        <a href="#/explore/:{{cat.slug}}">-->
          {{cat.name}}
<!--        </a>-->
      </div>
      <!--
<a ng-repeat="cat in subcategories" class="item item-icon-left" href="http://daysoftheyear.com" target="_blank">
<i class="icon ion-social-facebook"></i>
Share on Facebook
</a>
-->
    </div>
  </ion-content>
</ion-popover-view>
