<ion-modal-view title="Signin">

<!--
<ion-header-bar class="bar-positive">
<h1 class="title">Welcome</h1>
</ion-header-bar>
-->

  <ion-content ng-controller="signinController as signinCtrl">

    <!--    <img src="/res/icon/ios/icon-72-2x.png">-->
    <form name="signinForm" ng-submit="signinForm.$valid && signinCtrl.signin()" novalidate>
      <div class="list list-inset">
        <h2 class="text-center padding-bottom">Days of the Year</h2>

        <label class="item item-input"
               ng-class="{'valid': signinForm.email.$valid,
                         'invalid': signinForm.email.$invalid &&
                         !signinForm.email.$pristine}">
          <span class="input-label">Email</span>
          <input ng-model="signinCtrl.signinData.signinEmail" name="email" type="email" placeholder="Email" required>
          <i class="icon valid-icon"
             ng-class="{'ion-android-checkmark positive':
                       signinForm.email.$valid,
                       'ion-alert assertive': signinForm.email.$invalid &&
                       !signinForm.email.$pristine
                       }"></i>
        </label>

        <label class="item item-input"
               ng-class="{'valid': signinForm.password.$valid,
                         'invalid': signinForm.password.$invalid &&
                         !signinForm.password.$pristine}">
          <span class="input-label">Password</span>
          <input ng-model="signinCtrl.signinData.signinPassword" name="password" type="password" placeholder="Password" required>

          <i class="icon valid-icon"
             ng-class="{'ion-android-checkmark positive':
                       signinForm.password.$valid,
                       'ion-alert assertive': signinForm.password.$invalid &&
                       !signinForm.password.$pristine
                       }"></i>
        </label>

      </div>

      <div class="padding-horizontal">
        <input type="submit" class="button button-block button-positive" value="Log In" />
        <!--        ng-click="signinModalClose()"-->
      </div>
    </form>

    <p class="text-center">
      <a href="#/forgot-password">Forgot password</a>
    </p>

    <div class="text-center padding-top">Don't have an account yet?</div>
    <div class="text-center padding">
      <button ng-click="signinModalClose(); signupModalOpen()" class="button button-light">
        Create Account
      </button>
    </div>

  </ion-content>

</ion-modal-view>

