<ion-modal-view title="Log In">

  <!--
<ion-header-bar class="bar-positive">
<h1 class="title">Welcome</h1>
</ion-header-bar>
-->

  <ion-header-bar class="bar bar-header bar-positive-light">
    <h1 class="title">Sign in</h1>
<!--    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>-->
  </ion-header-bar>

  <ion-content ng-controller="accountController as signinCtrl">

    <!--    <img src="/res/icon/ios/icon-72-2x.png">-->
    <form name="signinForm" class="custom-form" ng-submit="signinForm.$valid && signin()" novalidate>
      <div class="list list-inset">
        <img class="login-logo" src="img/dotyLogo.png">

        <label class="item item-input"
               ng-class="{'valid': signinForm.email.$valid,
                         'invalid': signinForm.email.$invalid &&
                         !signinForm.email.$pristine}">
          <span class="input-label">Email</span>
          <input ng-model="signinData.signinEmail" name="email" type="email" placeholder="Email" required>
          <i class="icon valid-icon"
             ng-class="{'ion-android-checkmark positive':
                       signinForm.email.$valid,
                       'ion-alert assertive': signinForm.email.$invalid &&
                       !signinForm.email.$pristine
                       }"></i>
        </label>

        <label class="item item-input"
               ng-class="{'valid': signinForm.password.$valid,
                         'invalid': signinForm.password.$invalid &&
                         !signinForm.password.$pristine}">
          <span class="input-label">Password</span>
          <input ng-model="signinData.signinPassword" name="password" type="password" placeholder="Password" required>

          <i class="icon valid-icon"
             ng-class="{'ion-android-checkmark positive':
                       signinForm.password.$valid,
                       'ion-alert assertive': signinForm.password.$invalid &&
                       !signinForm.password.$pristine
                       }"></i>
        </label>

      </div>

      <div class="padding-horizontal">
        <input type="submit" id="submit" class="button button-block button-custom button-blue" value="Log In"/>
      </div>
    </form>

    <p class="text-center">
      <a href="#/forgot-password">Forgot password</a>
    </p>

    <div class="text-center padding-top">Don't have an account yet?</div>
    <div class="text-center padding">
      <button ng-click="signinModalClose(); signupModalOpen()" class="button button-custom">
        Create Account
      </button>
    </div>

  </ion-content>

</ion-modal-view>

