<ion-modal-view title="Signup">

  <!--http://plnkr.co/edit/kVsRSw?p=preview

Add visual form validation
-->

  <ion-content ng-controller="signinController as signinCtrl">

    <div class="list list-inset">
      <h2 class="text-center padding-bottom">Days of the Year</h2>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>

      <label class="item item-input">
        <span class="input-label">Date of Birth</span>
        <input type="date" value="2014-01-01">
      </label>

<!--
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
-->

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked="true">
        </label>
        Notify me of fun upcoming days!
      </li>

    </div>

    <div class="padding-horizontal">
      <button ng-click="signupModalClose(); signupExtraModalOpen()" class="button button-block button-positive">
        Register
      </button>
    </div>

      <div class="text-center padding-top">Already have an account?</div>
      <div class="text-center padding">
        <button ng-click="signupModalClose();signinModalOpen()" class="button button-light">
          Log In
        </button>
      </div>

  </ion-content>
</ion-modal-view>

