<ion-view title="Calendar">

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content" id="calendar-wrapper">

    <div class="calendar-wrap">
      <div class="calendar-inner-wrap">
        <div class="calendar-header">
          <div class="row">
            <div class="col calendar-header-col-left"><i ng-click="previousMonth();" class="icon ion-arrow-left-b"></i></div>
            <div class="col calendar-header-col-center col-50">
              <i class="calendar-month">{{calendar.monthName | uppercase}}</i>
              <i class="dark">{{calendar.year}}</i>
            </div>
            <div class="col calendar-header-col-right"><i ng-click="nextMonth();" class="icon ion-arrow-right-b"></i></div>
          </div>
        </div>
        <div class="calendar-container">

          <div class=" weekday-row">
            <div class=" weekday-col">sun</div>
            <div class=" weekday-col">mon</div>
            <div class=" weekday-col">tue</div>
            <div class=" weekday-col">wed</div>
            <div class=" weekday-col">thu</div>
            <div class=" weekday-col">fri</div>
            <div class=" weekday-col">sat</div>
          </div>

          <div class="calendar-box">
            <div ng-bind-html="calendar.html" class="calendar-injected"></div>
          </div>

        </div>
      </div>
    </div>

    <div ng-if="favoriteDays.length">
      <div class="card">
        <h4 class="text-center">
          Your favorite days in {{calendar.monthName}} {{calendar.year}}!
        </h4>
      </div>

      <div ng-repeat="day in favoriteDays" class="card card-wrapper">
        <a href="#/:{{day.id}}">
          <div class="image-loading dayimage-container">
            <div class="spinner-animation"></div>
            <img ng-src="{{day.image.large.url}}" class="day-image">
          </div>
          <i class="badge badge-positive badge-overlay">{{day.tag.name}}</i>
        </a>

        <div class="card-title">

          <a href="#/:{{day.id}}">
            <h2 class="stable" ng-bind-html="day.title">
            </h2>
            <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>
          </a>
        </div>
      </div>
    </div>


    <div ng-if="interestDays.length">
      <div class="card">
        <h4 class="text-center">
          Our recommended days for you in {{calendar.monthName}} {{calendar.year}}
        </h4>
      </div>

      <div ng-repeat="day in interestDays" class="card card-wrapper">
        <a href="#/:{{day.id}}">
          <div class="image-loading dayimage-container">
            <div class="spinner-animation"></div>
            <img ng-src="{{day.image.large.url}}" class="day-image">
          </div>
          <i class="badge badge-positive badge-overlay">{{day.tag.name}}</i>
        </a>

        <div class="card-title">

          <a href="#/:{{day.id}}">
            <h2 class="stable" ng-bind-html="day.title">
            </h2>
            <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
