<ion-view title="{{currentCategory.name}}">

  <ion-nav-bar class="custom-bar">

<!--
    <ion-nav-buttons side="left">
      <a ui-sref="explore"><button class="button button-icon ion-arrow-left-c"></button></a>
    </ion-nav-buttons>
-->

<!--
    <ion-nav-buttons side="left">
      <button class="button button-icon ion-arrow-left-c" ng-click="goBack()"></button>
    </ion-nav-buttons>
-->

    <ion-nav-back-button class="button-clear custom-back-button">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content">

    <div ng-repeat="day in days" class="card card-wrapper">
      <a href="#/:{{day.id}}">
        <div class="item-image">
          <img ng-src="{{day.image.large.url}}">
          <div class="badge badge-positive badge-overlay">{{day.tag.name}}</div>
        </div>
      </a>

      <div class="card-title">
        <a href="#/:{{day.id}}">
          <h2 class="stable">
            {{day.title}}
          </h2>
          <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>


<!--
      <div class="card-title">
        <a href="#/:{{day.id}}">
          <h2 class="stable">
            {{day.title}}
          </h2>
          <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>
        </a>
      </div>
    </div>-->
