<ion-view title="Days of the Year">

  <ion-nav-bar class="bar-positive">

    <!--
<ion-nav-buttons side="left">
<button class="button button-icon ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
-->

    <ion-nav-buttons side="left">
      <a ui-sref="/"><button class="button button-icon ion-arrow-left-c"></button></a>
    </ion-nav-buttons>

    <!--
<ion-nav-back-button class="button-clear">
<i class="ion-arrow-left-c"></i> Back
</ion-nav-back-button>
-->

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-share"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>
    <img style="width: 100%;" ng-src="{{dayObj.image.large.url}}"></img>
  <h2 style="color: rgb(217, 55, 31);" class="padding-left">
    {{dayObj.title}}
  </h2>
  <div class="list">
    <p class="item item-text-wrap" ng-bind-html="dayObj.content"></h1>
  </div>
</ion-content>

</ion-view>




<!--
http://metalab.co/projects/brit/

Color title red

Work on justifying text nicely with padding

Add Category and Attribution nicely styled

Add Share / Favorite button

Back icon instead of back text
<ion-nav-back-button>
Back
</ion-nav-back-button>
-->
