<ion-view title="Explore">

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content">
    <div ng-repeat="category in categoryList">
      <a href="#/explore/:{{category.slug}}">
        <!--      <a ui-sref="categorypage">-->
        <!--        /{{category.slug}}">        -->

        <div class="explore-category">
          <h2 class="category-title">
            {{category.name}}
          </h2>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
