<ion-view title="Favorites">

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ui-sref="searchpage" class="button button-icon ion-ios7-search-strong"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content">
    <div class="list" ng-if="!pageLoading.status">

      <div class="card" ng-if="!days">
        <h4 class="text-center">
          You have no favorites
        </h4>
        <div class="item item-text-wrap">
          <div>
            To add Days to your favorites simply open any Day and press the
            <div class="heart-animation" style="display: inline-block; transform: scale(0.75,0.75); margin: -7px -3px;"></div>
            button in the top right corner!
          </div>
          <br>
          <hr class="content-line">
          <br>
          <h2>What is this good for?</h2>
          <span>Favorites help you keep track of the days you love! Your favorite days are added to your <b>Personal Calendar</b> together with staff-picked days we think you'll like.</span>
          <br><br>
          <span>And we'll make sure you never have to miss your Day of the Year as we'll notify you on your favorites days!</span>
          <!--        <i class="icon ion-ios7-heart assertive"></i>-->
        </div>
      </div>

      <div class="card" ng-if="days">
        <h4 class="text-center">
          You have {{days.length}} favorite(s)
        </h4>
      </div>

      <div ng-repeat="day in days">
        <a class="item item-thumbnail-left item-favorites" href="#/:{{day.id}}">
          <img class="image-favorites" ng-src="{{day.image.thumbnail.url}}">
          <h2>{{day.title}}</h2>
          <p>{{day.date | date:'longDate'}}</p>
          <!--        <i class="badge badge-positive badge-overlay-favorites">Blablablabla</i>         -->
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>

