<ion-view title="Favorites">

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button ui-sref="searchpage" class="button button-icon ion-ios7-search-strong"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="custom-content">
    <div class="list">

      <a ng-repeat="day in days" class="item item-thumbnail-left item-favorites" href="#/:{{day.id}}">
        <img class="image-favorites" ng-src="{{day.image.thumbnail.url}}">
        <h2>{{day.title}}</h2>
        <p>{{day.date | date:'longDate'}}</p>
<!--        <i class="badge badge-positive badge-overlay-favorites">Blablablabla</i>         -->
      </a>

    </div>
  </ion-content>
</ion-view>

