<ion-view title="Today">

  <ion-nav-bar class="custom-bar">

    <!--      enable-menu-with-back-views="false"-->
    <!--                    menu-toggle="left"-->

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <!--    <ion-nav-back-button></ion-nav-back-button>-->

    <ion-nav-buttons side="right">
      <button ui-sref="searchpage" class="button button-icon ion-ios7-search-strong"></button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content" id="content-wrapper">

    <!--
<div ng-repeat="day in days" class="card-wrapper card">
<img ng-src="{{day.image.large.url}}">
<div class="card-title">
<h8 class="card-title-content"> {{day.title}} </h8>
</div>
</div>
-->
    <div ng-repeat="day in days" class="card card-wrapper">
      <a href="#/:{{day.id}}">
        <div class="item-image">
          <div class="image-loading dayimage-container">
            <img ng-src="{{day.image.large.url}}" class="day-image">
          </div>
          <i class="badge badge-positive badge-overlay">{{day.tag.name}}</i>
        </div>
        <!--
<span class="card-overlay">
Testing Card Overlay
</span>
-->
      </a>

      <div class="card-title">

        <a href="#/:{{day.id}}">
          <!--
<i id="{{day.id}}" ng-class="{'icon ion-ios7-heart': day.liked, 'icon ion-ios7-heart-outline': !day.liked}" on-tap="setFavorite({{day.id}})">
</i>
-->
          <h2 class="stable">
            {{day.title}}
            <!--            <i ng-if="userData.pc_days.indexOf('{{day.id}}') > -1">Blabla</i>-->
          </h2>
          <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>

        </a>
      </div>
    </div>

    <div ng-if="!pageLoading" class="row no-top-padding">
      <div class="col no-top-padding">
        <a href="#/date/:{{page.previous.timestamp}}" class="no-top-margin button button-block button-custom button-blue icon-left ion-ios7-arrow-back">Previous Day</a>
      </div>

      <div class="col no-top-padding">
        <a href="#/date/:{{page.next.timestamp}}" class="no-top-margin button button-block button-custom button-blue icon-right ion-ios7-arrow-forward">Next Day</a>  </div>
    </div>

  </ion-content>
</ion-view>

<!--http://stackoverflow.com/questions/20984183/best-way-to-preload-images-with-angular-js-->
