<ion-view title="Profile">

  <!--http://plnkr.co/edit/kVsRSw?p=preview

Add visual form validation
-->

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="custom-content" ng-controller="accountController">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/placeholderAvatar300x300.png">
        <div ng-if="userData.firstname">
          <h2>{{userData.firstname}} {{userData.lastname}}</h2>
          <p>{{userData.dob | date:'longDate'}}</p>
        </div>
      </div>

      <div ng-if="userData.firstname">
        <div class="item item-body">
          <!--        <img class="full-image" src="delorean.jpg">-->
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
      </div>

      <div ng-if="userData.email">
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-ios7-gear"></i>
            Account Settings
          </a>
          <a class="tab-item" ng-click="logout()">
            <i class="icon ion-log-out"></i>
            Log Out
          </a>
        </div>
      </div>


      <!--
<div class="text-center padding-top">Want to log in with another account? Click below to logout.</div>
<div class="text-center padding">
<button ng-click="logout();" class="button button-light">
Logout
</button>
</div>
-->

    </div>

    <!--
<div class="list list-inset">

<div class="item item-image" style="border:none;">
<img class="circular-image" style="max-width: 35%; max-height: 35%;" ng-src="{{fbImage}}">

</div>

<h3>
<div class="padding-top" style="text-align:center;">
{{fbName}}
</div>
</h3>

</div>

<div class="item" >

<button ng-click="facebookLogin()" ng-hide="loginButtonShow()" class="button button-block button-positive">
<i class="icon ion-social-facebook"></i>
&nbsp;Login with Facebook
</button>

<button ng-click="logoutButton()" ng-show="loginButtonShow()" class="button button-block button-assertive">
<i class="icon ion-social-facebook"></i>
&nbsp;Logout
</button>

</div>
-->

    <!--

<button class="btn btn-block" onclick="getInfo()">Get My Info</button>
<p>Name: <span id="userName"></span></p>
<img id="userPic"/>
<hr/>

<textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
<button class="btn btn-block" onclick="share()">Share</button>
<hr/>

<p>Complete Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
<button class="btn btn-block" onclick="logout()">Logout</button>
<hr/>

<p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
<button class="btn btn-block" onclick="revoke()">Revoke Permissions</button>
-->

  </ion-content>
</ion-view>

