<ion-view title="Search">

  <ion-nav-bar class="custom-bar">
<!--
    <ion-nav-buttons side="left">
      <button class="button button-icon ion-arrow-left-c" ng-click="goBack()"></button>
    </ion-nav-buttons>
-->

    <ion-nav-back-button class="button-clear custom-back-button">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>

    <!--
<ion-nav-buttons side="right">
<button class="button button-icon ion-share"></button>
</ion-nav-buttons>
-->

  </ion-nav-bar>

  <ion-content has-bouncing="true" class="custom-content">

    <form name="searchForm" ng-submit="search()">
      <!--      !searchForm.$pristine && -->
      <div id="search-box" class="bar item-input-inset">
        <div class="item-input-wrapper">
          <i class="icon ion-ios7-search-strong placeholder-icon"></i>
          <input type="search" placeholder="Search Days of the Year" ng-model="data.searchQuery">
        </div>

        <input type="submit" id="submit" class="button button-clear button-dark" value="Go"/>

        <!--
<button class="button button-clear button-dark" ng-click="search()">
Go
</button>
-->
      </div>
    </form>

    <!--
<h4>{{madeSearch.found}}</h4>
<h4>{{madeSearch.finished}}</h4>
-->

    <!--    <h4>a</h4>-->

    <div class="card" ng-if="!madeSearch.found && madeSearch.finished">
      <h4 class="text-center">
        You search returned no results
      </h4>
    </div>

    <!--
<div class="card" ng-if="!days">
<h4 class="text-center">
You have no favorites
</h4>
<div class="item item-text-wrap">
<p>
To add Days to your favorites simply open any Day and press the <i class="icon ion-ios7-heart assertive"></i> button in the top right corner!
</p>
</div>
</div>
-->

    <div class="card" ng-if="madeSearch.found && madeSearch.finished && madeSearch.results > 0">
      <h4 class="text-center">
        Your search returned {{madeSearch.results}} results
      </h4>
    </div>

    <div class="card" ng-if="!madeSearch.started">
      <h4 class="text-center">
        Enter a search query in the box above
      </h4>
    </div>

    <div ng-repeat="day in days" class="card card-wrapper">
      <a href="#/:{{day.id}}">
        <div class="item-image">
          <img ng-src="{{day.image.large.url}}">
          <div class="badge badge-positive badge-overlay">{{day.tag.name}}</div>
        </div>
      </a>

      <div class="card-title">
        <a href="#/:{{day.id}}">
          <h2 class="stable">
            {{day.title}}
          </h2>
          <h4 class="stable">{{day.date | date:'mediumDate'}}</h4>
        </a>
      </div>
    </div>

    <div class="row no-top-padding" ng-if="madeSearch.showing < madeSearch.results">
      <div class="col no-top-padding">
        <button ng-click="showMore();" class="no-top-margin button button-block buttom-custom button-blue">Show More</button>
      </div>
    </div>

  </ion-content>
</ion-view>
