<ion-view title="Search">

  <ion-nav-bar class="custom-bar">
    <ion-nav-buttons side="left">
      <button class="button button-icon ion-arrow-left-c" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <!--
<ion-nav-buttons side="right">
<button class="button button-icon ion-share"></button>
</ion-nav-buttons>
-->

  </ion-nav-bar>

  <ion-content class="custom-content">

    <form name="searchForm" ng-submit="search()">
      <!--      !searchForm.$pristine && -->
      <div id="search-box" class="bar item-input-inset">
        <div class="item-input-wrapper">
          <i class="icon ion-ios7-search-strong placeholder-icon"></i>
          <input type="search" placeholder="Search Days of the Year" ng-model="data.searchQuery">
        </div>

        <input type="submit" id="submit" class="button button-clear button-dark" value="Go"/>

        <!--
<button class="button button-clear button-dark" ng-click="search()">
Go
</button>
-->
      </div>
    </form>

    <!--
<h4>{{madeSearch.found}}</h4>
<h4>{{madeSearch.finished}}</h4>
-->

    <!--    <h4>a</h4>-->

    <ul class="list" ng-show="!madeSearch.found && madeSearch.finished">
      <li class="item-clear">
        <h4 class="text-center padding-top">
          Your search returned zero results
        </h4>
      </li>
    </ul>

    <ul class="list no-padding no-margin" ng-show="madeSearch.found && madeSearch.finished && madeSearch.results > 0">
      <li class="item-clear">
        <h4 class="text-center padding-top">
          Your search returned {{madeSearch.results}} results
        </h4>
      </li>
    </ul>

    <ul class="list" ng-show="!madeSearch.started">
      <li class="item-clear" >
        <h4 class="text-center padding-top">
          Enter a search query in the box above
        </h4>
      </li>
    </ul>

    <div ng-repeat="day in days" class="card card-wrapper">
      <a href="#/:{{day.id}}">
        <div class="item-image">
          <img ng-src="{{day.image.large.url}}">
        </div>
      </a>

      <div class="card-title">
        <a href="#/:{{day.id}}">
          <h2 class="stable">
            {{day.title}}
          </h2>
        </a>
      </div>
    </div>

    <div class="row no-top-padding" ng-show="madeSearch.showing < madeSearch.results">
      <div class="col no-top-padding">
        <button ng-click="showMore();" class="no-top-margin button button-block button-positive">Show More</button>
      </div>
    </div>

  </ion-content>
</ion-view>
