<ion-view title="Settings">

  <ion-nav-bar class="custom-bar">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="custom-content">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/days-logo-250.jpg">
        <h2>Days of the Year</h2>
        <p>Version 1.0</p>
      </div>

      <div class="item item-body">
        <!--        <img class="full-image" src="image.jpg">-->
        Days Of The Year aims to bring all of the world’s weird, funny, wonderful and bizarre holidays under one roof, and to create the ultimate guide to celebrating each and every day.
      </div>

<!--      <div class="list">-->
        <div class="item item-icon-left">
          <i class="icon ion-link"></i>
          Visit Website
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-facebook"></i>
          Facebook
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-social-twitter"></i>
          Twitter
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-email"></i>
          info@daysoftheyear.com
        </div>
<!--      </div>-->

    </div>
  </ion-content>
</ion-view>
