<ion-view title="Settings">

    <ion-nav-bar class="custom-bar">

        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a ui-sref="searchpage">
        <button class="button button-icon ion-ios7-search-strong"></button>
      </a>
    </ion-nav-buttons>

    </ion-nav-bar>

  <ion-content class="custom-content">
        <h1>Settings</h1>
    </ion-content>
</ion-view>
