* {
    margin: 0;
    padding: 0;
}

html {

    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background: rgb(234,234,234);

    width: 100%;
}

/*--#####################################################
    HEADER
#######################################################*/

    .header {
        background: rgb(95,125,140);
        padding: 0 20px;
        margin: 0;
        height: 55px;
        position: absolute;
        width: 100%;
    }

    .header h1 {
        padding: 10px 20px;
        margin: 0;
        color: white;
    }

/*--#####################################################
    HEADER
#######################################################*/

    #days-container {
        border-style: solid;
        border: 2px solid rgb(210,210,210);
        padding: 0;
        margin: 0;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
        top: 55px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        overflow: hidden;
    }

    #days-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .day {
        width: 98%;
        max-width: 98%;
        margin: 10px auto 0 auto;
        background: white;
        border-style: solid;
        border: 1px solid #d0d0d0;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 1px 0 #bfbfbf;
        height: 100%;
        display: block;
        position: relative;

    }

    .day-image-container {
        display: inline-block;
        max-height: 100%;
        position: relative;
    }

    .day-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }


    .day-title {
        background: black;
        /*
        opacity: 0.6;
        filter: alpha(opacity=60);  For IE8 and earlier
        */
        position: absolute;
        bottom: 0%;
        height: 15%;
        display: block;

        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(0, 0, 0);
        /* RGBa with 0.6 opacity */
        background: rgba(0, 0, 0, 0.6);
        /* For IE 5.5 - 7*/
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        width: 100%;


    }

    .day-title h1 {
        position: relative;
        color: white;
        left: 3%;
        top: 5%;
        font-size: 5vw;

    }

    .day-description {
        height: 4vw;
        display: block;
        font-size: 3vw;
    }



