* {
  /*  margin: 0;*/
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif !important;
  /*  'Raleway', */
  -webkit-font-smoothing: antialiased;
}


body {
  /*  font-family: 'Roboto', sans-serif !important; */
  /*  -webkit-font-smoothing: antialiased;*/
  /*  padding: 0;*/
  /*  margin: 0;*/
  /*  background: #fbf1e8;*/
  /*  width: 100%;*/
}

.bgcolor {
  background: #fbf1e8;
}


#days-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.day {
  width: 96.875%;
  max-width: 764px;
  margin: 3.5% auto;
  background: white;
  border-style: solid;
  /*        border: 1px solid #d0d0d0;*/
  border: 0;
  overflow: hidden;
  /*        border-radius: 4px;*/
  /*        box-shadow: 0 1px 0 #bfbfbf;*/
  height: 100%;
  display: block;
  position: relative;

}

.day-image-container {
  max-height: 100%;
  border-style: solid;
  border: 1px solid rgb(210,210,210);
  border-bottom: 0px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.day-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}


.day-title {
  display: block;
  width: 100%;
  /*
  height: 0;
  padding-bottom: 12%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  */
}

.day-title h1 {
  color: white;
  text-align: center;
  /*
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  */
  padding: 10px 0;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
  white-space: nowrap;
}

.day-description {
  height: 4vw;
  display: block;
  font-size: 3vw;
}

.circular-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}


/*------------FORMS-----------*/
.invalid {
  border-left-color: #ef4e3a;
  border-left-width: 3px;
}

.valid {
  border-left-color: #4a87ee;
  border-left-width: 3px;
}

.valid-icon {
  position: absolute;
  right: 1em;
  margin-top: 0.5em;
}

/*-----------------------------*/


.custom-bar {
  /*Custom Nav Bar with light-pink bottom border*/
  border-top-width: 0px;
  border-bottom-width: 2px;
  border-color: #ECD9D9 !important;
  border-bottom-style: solid;
}

.custom-content {
  /*  Set app's background color*/
  background-color: #faf1e7;
}


/*----------HOME---------*/

/*Day Card Wrapper*/
div.card-wrapper {
  border: 1px white solid;
  height: 100%;
  border-radius: 5px;
  padding: 0px;
  position: relative;
  /*  box-shadow: 1px 1px 15px 2px #B5B5B5;*/
}

.card-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  border: none;
  display: block;
  text-align: center;
  margin: auto;
  padding: 0px;
  background: #7f7f7f;
  background: rgba(0,0,0,0.5);
}

/*Day Card Overlay*/
.card-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-top: -10px;
  margin-left: -75px;
}

/* Day Card Title*/
/*
.card-title {
  padding: 5px;
  margin: 0px;
  color: #e9f1f3;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
*/

.card-title h2 {
  padding: 6px 10px 0px 10px;
  margin: 0px;
  color: #e9f1f3;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.card-title h4 {
  padding: 0px 10px 6px 10px;
  margin: 0px;
  color: #e9f1f3;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.badge-overlay {
    position:absolute;
    z-index:1;
/*
    right:5px;
    top:5px;
*/
    right:2%;
    top:3%;
}

/*----------DAYPAGE---------*/

/*Daypage Title*/
.content-title {
  color: #dd4933;
  margin: 10px 5% 15px 5%;
  font-size: 22px;
  padding: 0;
  text-shadow: 0px 1px 0 #f7ddd9;
  /*  rgba(0,0,0,0.5)*/
}

/*Daypage Text*/
.content-text {
  color: #3e3d3d;
  margin: 0 5% 15px 5%;
  font-size: 17px;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}

/*Linebreak*/
hr.content-line {
  height: 1px;
  border: 0;
  color: #e0e0e0;
  background-color: #e0e0e0;
  width: 92%;
  margin-top: 12px;
  margin-bottom: 14px;
}

.item-borderless {
   border-top: none;
   border-bottom: none;
}

/*----------EXPLORE---------*/

.category-title {
  padding: 10px;
  margin: 0px;
  color: #e9f1f3;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
