* {
    margin: 0;
    padding: 0;
}

html {

    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    background: #fbf1e8;
/*    rgb(234,234,234);*/

    width: 100%;
}

/*--#####################################################
    HEADER
#######################################################*/

    .header {
        background: white;
        border: 1px solid #cac8bc;
        padding: 0;
        margin: 0;
        height: 90px;
        width: 100%;
    }

    .headerdiv {
        display: inline-block;
        float: left;
        width: 33.3333%;
    }

    .header .search-button {
        display: block;
        margin-left: 10%;
        text-align: left;
        font-size: 3em;
        line-height: 90px;
        color: #ababaa;
    }

    .header .logo {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 90px;
    }

    .header .nav-button {
        display: block;
        margin-right: 10%;
        text-align: right;
        font-size: 3em;
        line-height: 90px;
        color: #ababaa;
    }

/*--#####################################################
    HEADER
#######################################################*/

    #days-container {
    }

    #days-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .day {
        width: 96.875%;
        max-width: 764px;
        margin: 3.5% auto;
        background: white;
        border-style: solid;
/*        border: 1px solid #d0d0d0;*/
        border: 0;
        overflow: hidden;
/*        border-radius: 4px;*/
/*        box-shadow: 0 1px 0 #bfbfbf;*/
        height: 100%;
        display: block;
        position: relative;

    }

    .day-image-container {
        max-height: 100%;
        border-style: solid;
        border: 1px solid rgb(210,210,210);
        border-bottom: 0px;
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
    }

    .day-image {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }


    .day-title {
        display: block;
        width: 100%;
/*
        height: 0;
        padding-bottom: 12%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
*/
    }

    .day-title h1 {
        color: white;
        text-align: center;
/*
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
*/
        padding: 10px 0;
        text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
        white-space: nowrap;

    }

    .day-description {
        height: 4vw;
        display: block;
        font-size: 3vw;
    }



